NEXT_PUBLIC_SITE_URL=http://localhost:3000

NEXT_PUBLIC_SUPABASE_URL=
NEXT_PUBLIC_SUPABASE_ANON_KEY=
SUPABASE_SERVICE_ROLE_KEY=

NEXT_PUBLIC_ADSENSE_ENABLED=true
NEXT_PUBLIC_ADSENSE_CLIENT_ID=ca-pub-0896130218059462

RSS_FEEDS=https://www.france24.com/es/rss,https://rss.dw.com/rdf/rss-es-all,https://actualidad.rt.com/feeds/all.rss

OPERATIONS_REPORT_EMAIL=
OPERATIONS_FROM_EMAIL=
